@import url('https://fonts.googleapis.com/css?family=Arimo');

#wrapper{
    width: 80%;
    margin: auto;
}

header {
    width: 80%;
    margin: auto;
    background: white;
}
footer {
    width: 80%;
    margin: auto;
    background: white;
}

.top-menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
}
.top-menu:after {
    content: "";
    display: table;
    clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: black;
    transition:.3s linear;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

.carousel a:hover {
    background: black

}

#contact {
    background: #F9F9F9;

    padding: 25px;
    margin: 100px 0;
}

#contact h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;

}

#contact h4 {
    margin: 5px 0 15px;
    font-size: 13px;

}

#contact input,
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;

}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    color: black;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button:hover {
    background: #f0eded;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}
.youtube a:hover {background: #c4302b; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #8b13d1; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}
.pinterest a:hover {background: #c8232c; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.tumblr a:hover {background: #34526f; color: #fff;}
.windows a:hover {background: #125acd; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}
.weibo a:hover {background: #d52b2b; color: #fff;}
.dropbox a:hover {background: #1087dd; color: #fff;}

#contact{
    width: 70%;
    margin: auto;
}

.paddingtext {
    padding-left: 5px;
}
